<!-- views/formulario.erb -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Cumprimento</title>
  <link rel="stylesheet" type="text/css" href="C:\Users\joaof\OneDrive\Documentos\Ruby\sinatra\style\estilo.css">
</head>
<body>
  <h1>Formulário de Cumprimento</h1>
  <form action="/cumprimentar" method="post">
    <label for="nome">Digite seu nome:</label>
    <input type="text" id="nome" name="nome" required>
    <button type="submit">Cumprimentar</button>
  </form>
</body>
</html>
