<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <h1>Bem vindo ao Site!</h1>
        <p>Caso queira adicionar amigos cadastre ele </p>
        <form action="/new" method = 'post'>
        <label for="user"> Usuario</label>
        <input type="text" name = "user" id = "user" required>
        <label for="key"> Senha</label>
        <input type="password" name = "key" id = "key" required>
        <button type = "submit">cadastrar </button>
    </form>
    <a href="/">Voltar</a>
    </main>
</body>
</html>