body{
    background-image: url(/imagem);
}

main{
    background-color: rgba(240, 248, 255, 0.5);
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
}

h1,p{
    text-align: center;
}