<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá mundo</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
    <h1>Olá, mundo!</h1>
    <p>Este é o meu primeiro projeto Sinatra!</p>
  </div>
</body>
</html>