<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag 1</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <main>
        <h1>Esta é a nossa pagina 1</h1>
        <p class = "link">clique <a href="pg2">aqui</a> para a segunda pagina</p>
        <h2>Outra coisa</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quo dolorem temporibus, culpa nisi totam soluta libero ex. Velit adipisci odio voluptatibus dolores corporis doloremque assumenda nemo temporibus aliquid non!</p>
        <h2>Mais outra coisa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero natus architecto mollitia voluptate? Et vero blanditiis cumque quis dicta dolores ullam tenetur, quia hic eaque quas autem voluptas illo dolorem.</p>
        <h2>agora pronto né?</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi veniam recusandae cupiditate alias blanditiis quasi officia quisquam enim non? Modi reprehenderit magnam asperiores error quidem saepe et facilis quo?</p>
   </main>
</body>
</html>