<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag 2</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <h1>Esta é a nossa pagina 2</h1>
        <p>clique <a href="/">aqui</a> para voltar</p>
    </div>
    <img src="/imgs/ruby.png" alt="foto teste">
</body>
</html>